@tailwind base;
@tailwind components;
@tailwind utilities;

.SliderRoot {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: 200px;
    margin: auto;
    margin-top: 8px;
  }
  .SliderRoot[data-orientation='horizontal'] {
    height: 20px;
  }
  .SliderRoot[data-orientation='vertical'] {
    flex-direction: column;
    width: 20px;
    height: 100px;
  }
  
  .SliderTrack {
    background-color: #FFF;
    position: relative;
    flex-grow: 1;
    border-radius: 9999px;
  }
  .SliderTrack[data-orientation='horizontal'] {
    height: 3px;
  }
  .SliderTrack[data-orientation='vertical'] {
    width: 3px;
  }
  
  .SliderRange {
    position: absolute;
    background-color: #22875B;
    border-radius: 9999px;
    height: 100%;
  }
  
  .SliderThumb {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #FFF;
    box-shadow: 0 2px 10px var(--blackA7);
    border-radius: 10px;
    position: relative;
  }

  .SliderThumb:focus {
    outline: none;
  }

  .SwitchRoot {
    margin-top: 4px;
    width: 42px;
    height: 25px;
    background-color: #0E3725;
    border-radius: 9999px;
    position: relative;
    box-shadow: 0 2px 10px var(--blackA7);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .SwitchRoot:focus {
    box-shadow: 0 0 0 2px black;
  }
  .SwitchRoot[data-state='checked'] {
    background-color: #29A46F;
  }
  
  .SwitchThumb {
    display: block;
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 9999px;
    box-shadow: 0 2px 2px var(--blackA7);
    transition: transform 100ms;
    transform: translateX(2px);
    will-change: transform;
    outline: none;
  }
  .SwitchThumb[data-state='checked'] {
    transform: translateX(19px);
  }